body { background: #888; font-family: arial, helvetica; font-size: 0.9em }
a { text-decoration: none }
//h1 { text-align: center; text-shadow: 1px 1px 1px #ccc; color: #444 }
.hostTable td { text-align: right; font-size: 0.9em; cursor: default; }
.machineDetailTable td { margin: 2px 10px; }
.machineDetailValue { font-weight: bold; }
.overviewTable { border: 1px solid; margin: 0.3em 0em; padding: 0px; width: 100%; border-spacing: 1px; background: #f0f0f0; }
.overviewTable td { padding: 1px 8px; text-align: center; font-size: 0.9em; }
.overviewTable th { padding: 1px 8px; background: black; color: white; font-size: 0.9em }

.machinedown { background: #f0f0f0; }
.machinedown:hover { background: #e0e0e0; }

.machineup { background: #c0c0ff; }
.machineup:hover { background: #a0a0e0; }

.machinefreeze { background: #f0d040; }
.machinefreeze:hover { background: #f0a020; }

.machinebroken { background: #c08080; }
.machinebroken:hover { background: #a08080; }

.machinestatus { width: 30px; height: 30px; margin: 0px 3px; }
.machinestatusgrid { width: 24px; height: 24px; }
.machinegridTable { margin: 0.2em 0em; border-spacing: 0.5em 0.8em; border-collapse: separate; }
.machinegrid { vertical-align: top; font-size: 0.8em; text-align: center; padding: 0.5em 0.8em; border: 1px solid #808080; box-shadow: 0px 0px 5px black; margin: 0.8em 1.2em; border-radius: 5px }
.machinegridcell { overflow: hidden; float: left; width: 6em; vertical-align: top; font-size: 0.8em; text-align: center; padding: 0.5em 0.5em; border: 1px solid #808080; box-shadow: 0px 0px 5px black; margin: 0.4em 0.4em; border-radius: 5px }

.machinestatusheader { width: 12px; height: 12px }
.machinestatuslegend { vertical-align: bottom; width: 14px; height: 14px; }

.button { margin: 0px 2px; width: 30px; height: 30px; }
.infohwaddr { font-size: 0.6em }
.infotype { font-size: 0.6em }
.barContainer { padding: 0px; border: 1px solid #666; background: blue; background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2020ff),color-stop(75%,#8020ff),color-stop(90%,#f08020),color-stop(100%,#f02020)); }
.bar { float: right; padding: 0px; margin: 0px; background: white} //background-image: url('./extra/imgs/pipe.png') }
.cpuloadbelow1 { color: #202020 }
.cpuloadover1 { font-weight: bold; color: #f080f0 }
.cpuloadover2 { font-weight: bold; color: #f0c020 }
.cpuloadover3 { font-weight: bold; color: #f08000; text-decoration: underline }
.cpuloadover4 { font-weight: bold; color: #f06000; text-decoration: underline }
.cpuloadover5 { font-weight: bold; color: #f00000; text-decoration: underline }
.log { overflow: auto; height: 500px; background: #eee; border: 1px solid #ccc; font-size: 0.6em; }
.about { margin: 2em 4em; margin-left: 12em; }
.warning { text-align: center; margin: 1em 1em; border: 1px solid; background: red; color: white; padding: 0.5em 0.5em; }
.inputField {}
.formSubmit {}
#lxclogo { vertical-align: bottom }
#footer { font-size: 0.7em; text-align: left; }

#blanket {
   background-color: #111;
   opacity: 0.65;
   *background: none;
   position: absolute;
   z-index: 9001;
   top: 0px;
   left: 0px;
   width: 100%;
}

#popup {
	position: absolute;
   background: white;
	width: 400px;
	height: 200px;
	border: 5px solid #000;
	z-index: 9002;
   padding: 1em 2em;
   text-align: center;
}
#popupTitle { font-size: 2em; font-weight: bold; text-align: center; }
#popupQuestion { margin: 2em 0em; }
#popupOK { background: #ccc; margin: 0em 2em; padding: 0em 2em; text-align: center; font-size: 1.2em; font-weight: bold; border: 2px solid }
#popupCancel { background: #ccc; margin: 0em 2em; padding: 0em 2em; text-align: center; font-size: 1.2em; font-weight: bold; border: 2px solid }

#header ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }
 
#header li {
   float: left;
   border: 1px solid #bbb;
   border-bottom-width: 0;
   margin: 0px 4px;
   //box-shadow: 0px 0px 2em black;
   //z-index: 0;
 }
 
#header a {
   text-decoration: none;
   display: block;
   background: #ccc;
   padding: 0.24em 1em;
   color: #00c;
   // width: 8em;
   text-align: center;
   font-weight: bold;
 }

#header a:hover {
   background: #eee;
}

#header #off {
   background: none;
   border: none;
   padding: 0.24em 1em;
}

#header #selected {
   border-color: black;
}

#header #selected a {
   position: relative;
   top: 1px;
   background: white;
   color: black;
   font-weight: bold;
}

#content {
   border: 1px solid black;
   clear: both;
   padding: 0.5em 0.5em;
   background: white; // url('./extra/imgs/brushed-metal.jpg');
   //box-shadow: 0px 0px 2em black;
   //z-index: 10;
   //position: relative;
}
                                        
